<section id="main" class="mast mast-trans mast-head">
	<div class="container">
		<div data-spy="affix" data-offset-top="30" class="page-title">
			<h2 class="text-light">USER EXPERIENCE / USER INTERFACE</h2>
			<h1>DESIGNER / DEVELOPER</h1>
			<hr class="separator" />
			<a href="" class="contact-toggle btn btn-lg btn-border"><span aria-hidden="true" class="icon-mail"></span> Contact Me</a>
			<ul class="list-inline list-social text-50 push-top-lg">
				<li><a href="http://twitter.com/kyleledbetter"><span aria-hidden="true" class="icon-twitter" title="Twitter"></span></a></li>
				<li><a href="http://dribbble.com/kyleledbetter"><span aria-hidden="true" class="icon-dribbble" title="Dribbble"></span></a></li>
				<li><a href="http://instagram.com/kyleledbetter"><span aria-hidden="true" class="icon-instagram" title="Instagram"></span></a></li>
				<li><a href="" class="contact-toggle"><span aria-hidden="true" class="icon-mail" title="Email"></span></a></li>
			</ul>
		</div>
	</div>
</section>
<div id="header" class="header">
	<div class="container text-center">
		<a class="sidebar-toggle pull-left btn btn-lg btn-none visible-xs"><span aria-hidden="true" class="icon-menu"></span></a>
		<ul class="list-inline hidden-xs list-nav">
			<li><a href="index.html#about" data-toggle="tooltip" title="Who's this dude?" class="smooth">About</a></li>
			<li><a href="index.html#portfolio" data-toggle="tooltip" title="Let's see whatcha got" class="smooth">Portfolio</a></li>
			<li><a href="index.html#blog" data-toggle="tooltip" title="Got somethin' to say?" class="smooth">Blog</a></li>
			<li class="list-item-logo"><a href="/index.html" class="smooth" data-toggle="tooltip" title="Back to homepage"><span aria-hidden="true" class="logo"></span></a></li>
			<li><a href="index.html#skills" data-toggle="tooltip" title="Any cool tricks?" class="smooth">Skills</a></li>
			<li><a href="index.html#work" data-toggle="tooltip" title="Proof's in the pudding" class="smooth">Work</a></li>
			<li><a href="" class="contact-toggle" data-toggle="tooltip" title="Let's chat">Contact</a></li>
		</ul>
	</div>
</div>
<section id="blog" class="mast mast-white">
	<div class="container">
		<div class="row push-top">
			<div class="col-sm-9 col-sm-offset-1">
				{{ content }}
			</div>
		</div>
	</div>
</section>